.card {
    margin: 5px;
    position: relative;
}

.card img {
    border: 2px solid #fff;
    border-radius: 4px;
}

.card__img {
    display : flex;
    flex-direction: column;
}

/* Card Animations */
.card .card__front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .card__front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .card__back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .card__back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}