.app {
    max-width: 900px;
    margin: 20px auto;
}

.app__subheader {
    max-width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background :none;
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    color: #fff;
    background: #c23866;
}

.app__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.card__front, .card__back {
    width: 180px;
    height: 180px;
}