/* Google Fonts -> Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

body {
  font-family : 'Ubuntu', sans-serif;
  margin: 0;
  font-size : 1.5em;
  text-align: center;
  background-color: #1b1523;
  color: #fff;
}